{%extends 'master/base.html'%}
{% block title %} Home
{%endblock%}

{% block content %}
<p> this is homepage of marketplace </p>

<h2> our products</h2>
<div class="products-list">
    {% for prod in product %}
    <div class="product">
        <a href="{% url 'product_detail' prod.id %}">
            <h3>{{ prod.name }}</h3>
            <p><strong>Category:</strong> {{ prod.category.name }}</p>
            <p><strong>Description:</strong> {{ prod.description }}</p>
            <p><strong>Price:</strong> RS {{ prod.price }}</p>
            <p><strong>Stock:</strong> {{ prod.stock }}</p>
        </a>
    </div>
    {% empty %}
    <p class="empty-state">No products found.</p>
    {% endfor %}
</div>
{%endblock%}